html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Roboto', sans-serif;

  background-color: #121212;
  color: white;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.content {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

h2 {
  margin: 20px;
  font-size: 30px;
}

.text {
  color: #bdbdbd;
}

.code-input {
  margin: 20px;
  font-size: 24px;
  padding: 15px;

  color: white;
  background-color: #121212;

  border: solid 2px #545454;
  border-radius: 10px;

  width: 450px;
  max-width: 70vw;
}

.code-input:focus {
  border: solid 2px #0d6efd;
}

.button {
  margin: 20px;
  font-size: 20px;
  padding: 10px 20px 10px 20px;

  background-color: #278E5E;
  color: white;

  border: solid 2px #278E5E;
  border-radius: 10px;
}

.button:hover {
  cursor: pointer;
}

.result {
  margin: 20px;
  font-size: 24px;
}

.result.disabled {
  color: #545454;
}

.result span {
  transition: background-color 0.5s ease;
}
.result span:hover {
  background: #292B2F;
}

.result span[data-tooltip] {
  position: relative;
  cursor: pointer;
}

.result span[data-tooltip]:before,
.result span[data-tooltip]:after {
  line-height: 1;
  font-size: 14px;
  pointer-events: none;
  position: absolute;
  box-sizing: border-box;
  display: none;
  opacity: 0;
}

.result span[data-tooltip]:before {
  content: "";
  border: 5px solid transparent;
  z-index: 100;
}

.result span[data-tooltip]:after {
  content: attr(data-tooltip);
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 6px 10px;
  border-radius: 3px;
  background: #4F545C;
  color: #FFFFFF;
  z-index: 99;
}

.result span[data-tooltip]:hover:before,
.result span[data-tooltip]:hover:after {
  display: block;
  opacity: 1;
}

.result span[data-tooltip]::before {
  left: 50%;
  -webkit-transform: translate(-50%, 8px);
          transform: translate(-50%, 8px);
  top: 80%;
  border-top-width: 0;
  border-bottom-color: #4F545C;
}
.result span[data-tooltip]::after {
  left: 50%;
  -webkit-transform: translate(-50%, 8px);
          transform: translate(-50%, 8px);
  top: calc(80% + 5px);
}